---
import BlogCard from "@components/blog/BlogCard.astro";
import BlogHero from "../../components/blog/BlogHero.astro";
import Layout from "../../layouts/Layout.astro";
import { formatBlogPosts } from "src/js/utils";

const allPosts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(allPosts);

const firstPost = formattedPosts.shift();
---

<Layout title="My Blog">
  <div class="container">
    <h1 class="h1">My Blog!</h1>
    <p>
      Welcome to my blog! Stories, excerpts, poems, undefined events, feelings
      and abstract thoughts that I would like penned are on here. I think of
      myself to be quite simple and yet, my thoughts complex. As such, putting
      pen to paper might help me understand myself better.
    </p>
    <p>
      There are also stories of others that I resonate with. Compiled with my
      writings are such - all enclosed in this blog. Enjoy!
    </p>
    <BlogHero
      title={firstPost.frontmatter.title}
      description={firstPost.frontmatter.description}
      author={firstPost.frontmatter.author}
      date={firstPost.frontmatter.date}
      banner={firstPost.frontmatter.banner}
      url={firstPost.url}
    />
    <h2 class="h2">Other Articles</h2>
    <div class="card-container">
      {
        formattedPosts.map((post) => {
          return (
            <BlogCard
              title={post.frontmatter.title}
              author={post.frontmatter.author}
              date={post.frontmatter.date}
              banner={post.frontmatter.banner}
              bannerAlt={post.frontmatter.bannerAlt}
              description={post.frontmatter.description}
              url={post.url}
            />
          );
        })
      }
    </div>
  </div>
</Layout>

<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-block: 2rem;
  }

  @media only screen and (max-width: 60rem) {
    .card-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 40rem) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }
</style>
