---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import Photo from "../assets/images/srivats.png"
import ExpCard from "../components/cv/ExpCard.astro";
import Layout from "../layouts/Layout.astro";
import EduCard from "../components/cv/EduCard.astro";
import SkillsTab from "../components/cv/SkillsTab.astro";
const allJobs = await Astro.glob("../content/cv/exp/*.md");
const allEdu = await Astro.glob("../content/cv/edu/*.md");
---

<Layout title="Srivats Balasubramanyam | CV">
  <div class="hero cv-hero">
    <div class="box">
      <Image src={Photo} alt="A photograph of Srivats Balasubramanyam" />
      <div class="content">
        <h1 class="cv-h1">Srivats Balasubramanyam</h1>
        <!-- <p>Instagram Influencee</p> -->
        <h4 class="head">Phone:</h4>
        <p>+91 72044 04906</p>
        <h4 class="head">Email:</h4>
        <p>srivats.dm251078@greatlakes.edu.in</p>
        <p>www.linkedin.com/in/srivatsb</p>
        <h4 class="head">Residence:</h4>
        <p>Yelahanka, Bengaluru,</p>
        <p>Karnataka, India.</p>
        <h4 class="head">Date of Birth:</h4>
        <p>15th October, 1998</p>
      </div>
    </div>
  </div>
  <div class="socials container">
    <a href="www.linkedin.com/in/srivatsb" target="_blank"><Icon name="mdi:linkedin" /></a>
    <a href="https://twitter.com/AlexSrivats" target="_blank"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231l5.45-6.231Zm-1.161 17.52h1.833L7.045 4.126H5.078L17.044 19.77Z"
        ></path></svg
      ></a
    >
    <a href="https://www.facebook.com/srivats.balasubramanyam/" target="_blank"><Icon name="mdi:facebook" /></a>
    <a href="https://www.instagram.com/srivats_balu/" target="_blank"><Icon name="mdi:instagram" /></a>
    <a href="https://discord.com/channels/1147941361270673569/1147941362260508865" target="_blank"><Icon name="ic:baseline-discord" /></a>
  </div>
  <section class="summary container">
    <!-- <h2 class="h2">Namaskara!<br />I am Srivats</h2> -->
    <p>
      I am pursuing a PGDM to enhance leadership and strategic thinking.
      Functioned as an Analyst with expertise in Project Control. Skilled in
      optimizing projects for efficiency and profitability, adept at project
      planning, cost estimation, and risk assessment. Proficient in data
      analysis and financial acumen. Effective communicator and team player with
      a passion for driving success. Seeking opportunities to contribute to
      corporate growth and lead high-performing teams.
    </p>
  </section>

  <section class="container">
    <h2 class="h2">Experience</h2>
    <div class="experience-box">
      {
        allJobs.map((job) => {
          return (
            <ExpCard
              from={job.frontmatter.from}
              to={job.frontmatter.to}
              duration={job.frontmatter.duration}
              company={job.frontmatter.company}
              designation={job.frontmatter.designation}
            >
              <div class="exp-text" set:html={job.compiledContent()} />
            </ExpCard>
          );
        })
      }
    </div>
  </section>

  <section class="container">
    <h2 class="h2">Education</h2>
    <div class="experience-box">
      {
        allEdu.map((edu) => {
          return (
            <EduCard
              year={edu.frontmatter.year}
              degree={edu.frontmatter.degree}
              institute={edu.frontmatter.institute}
              grade={edu.frontmatter.grade}
            />
          );
        })
      }
    </div>
  </section>
  <section class="container grid two-even gap-l project-container">
    <div>
      <h2 class="h3 text-c">Academic/Corporate Projects</h2>
      <ul class="projects">
        <li>
          Ambuja vs JK Cement (Cement Industry) - Comparison and Analysis"
          (Ongoing)
        </li>
        <li>
          Ramanagara Industrial Visit Report: Included visits to businesses
          including Surya Handicraft, Sula Vineyards Pvt. Ltd., Karnataka
          Janapada Parishat
        </li>
        <!-- <li>EFA Employee Experience, Deloitte USI</li>
        <li>West EFA USI Social Event Organizer, Deloitte USI</li> -->
      </ul>
    </div>
    <div>
      <h2 class="h3 text-c">Achievements</h2>
      <ul class="projects">
        <li>Spot Award, 2023 (EFA. Deloitte)</li>
        <li>Spot Award, 2022 (EFA. Deloitte)</li>
        <li>Best Outgoing Student, 2020 (Seshadripuram College)</li>
        <li>President of Student Council (Seshadripuram College)</li>
        <li>
          President of Lakshya, Commerce and Management Forum (Seshadripuram
          College)
        </li>
      </ul>
    </div>
  </section>
  <section class="container skills-container">
    <h2 class="h2">Skills and Other Activities</h2>
    <SkillsTab />
  </section>
</Layout>
<style lang="css">
  section {
    border-top: 1px solid var(--accent-300);
    margin-top: 3rem;
  }
  .cv-hero {
    min-height: 80vh;
    background-image: url('../assets/images/cv-bg.jpg');
    background-color: rgb(79, 77, 80);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 2rem;
  }

  .box {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    /* min-height: 510px; */

    max-width: 75rem;
  }

  .box img {
    height: 100%;
  }

  h1.cv-h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    width: min-content;
  }

  .content {
    padding: 2rem;
  }

  .box > div > * {
    margin-bottom: 0;
  }

  h4.head {
    font-family: "Bebas Neue", sans-serif;
    margin-top: 0.75em;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  .box p {
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    overflow-wrap: break-word;
  }

  .socials {
    background-color: var(--accent-700);
    padding: 2rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    transform: translateY(-50%);
  }

  .socials [astro-icon] {
    width: 30px;
    color: white;
    transition: all 250ms ease-in;
  }
  .socials svg path {
    fill: white;
    transition: all 250ms ease-in;
    width: 26px;
  }

  .socials svg:hover path {
    fill: var(--accent-300);
  }

  .socials [astro-icon]:hover {
    width: 30px;
    color: var(--accent-300);
  }

  .summary {
    padding-block: 1.5rem 2.5rem;
  }

  .summary p {
    margin-top: 1rem;
  }

  .experience-box {
    position: relative;
  }

  .experience-box::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 1px;
    background-color: var(--accent-100);
    left: 50%;
  }

  .exp-text p:empty {
    display: none;
  }

  .h2 {
    text-align: center;
  }

  .project-container {
    /* align-items: flex-end; */
    margin-top: 5rem;
  }

  .project-container h2 {
    margin-bottom: 1rem;
  }

  .projects li {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 0.5em;
  }
  @media only screen and (max-width: 55rem) {
    .box {
      grid-template-columns: 1fr;
      width: 100%;
    }

    h1 {
      margin-right: 0;
    }
    .cv-hero {
      padding: 1rem;
    }

    .content {
      padding: 1rem;
    }
    .socials {
      margin-top: 3rem;
      gap: 1.5rem;
    }

    .project-container {
      grid-template-columns: 1fr;
    }
  }
</style>
