---
const { url, title, art, type } = Astro.props;
---

<div class="card" data-name={title.toLowerCase()} data-type={type}>
  <a href={url}>
    <img src={`/films/${art}`} alt="" transition:name={`morph-${art}`} />
    <h3 class="h4">
      {title}
    </h3>
  </a>
</div>

<style>
  a {
    text-decoration: none;
  }

  .card {
    width: 15rem;
    transition: background-color 250ms ease-in-out;
  }

  .card:hover {
    outline: 2px solid var(--gray-300);
    background-color: var(--gray-100);
    outline-offset: 5px;
    border-radius: 2px;
  }

  img {
    width: 15rem;
    aspect-ratio: 2 / 3;
  }

  .h4 {
    text-align: center;
    margin-top: 0.5rem;
  }
</style>
