---
interface Props {
  title: string;
  description: string;
  banner: string;
  url: string;
  author: string;
  date: string;
}

const { title, description, banner, url, author, date } = Astro.props;
import { formatDate, slugify } from "src/js/utils";
---

<div class="latest-blog">
  <div class="top">
    <p class="eyebrow">Latest Article</p>
    <h2 transition:name={title}>{title}</h2>
    <p class="byline">
      By <span>{author}</span>
      <span>&#x2022</span> On <span>{formatDate(date)}</span>
    </p>
    <p class="description">{description}</p>
  </div>
  <a class="hero-btn" href={url}>Read Now!</a>

  <img
    class="bg-img"
    src={`./blog-images/${banner}`}
    alt=""
    transition:name={`morph-${slugify(banner)}`}
  />
</div>

<style>
  .latest-blog {
    position: relative;
    min-height: 450px;

    overflow: hidden;
    border-radius: 1rem;
  }

  .latest-blog::after {
    content: "";
    background-color: black;
    opacity: 0%;
    inset: 0;
    position: absolute;
    z-index: -1;

    transition: all 250ms ease-in-out;
  }

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: -1;
  }

  .top {
    width: 100%;
    padding: 2rem;
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    /* position: absolute; */

    z-index: 2;
  }

  h2 {
    color: white;
    font-size: 4rem;
  }

  .eyebrow,
  p {
    margin-bottom: 0.5rem;
    color: white;
  }

  .description {
    margin-top: 1rem;
    line-height: 1.4;
  }

  .latest-blog:hover.latest-blog::after {
    opacity: 50%;
  }

  .byline {
    font-size: 1rem;
  }

  .byline span {
    font-style: italic;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .hero-btn {
    position: absolute;
    right: 3rem;
    border-radius: 0.5rem;
    bottom: 3rem;
    padding: 0.75rem 2rem;
    background-color: white;
    color: var(--gray-700);
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
  }

  @media only screen and (max-width: 70rem) {
    .hero-btn {
      position: static;
      margin-bottom: 2rem;
      margin-left: 2rem;
      display: inline-block;
    }
  }
</style>

<style is:global></style>
