---
import FilmCard from "@components/FilmCard.astro";
import Layout from "../../layouts/Layout.astro";

const allPrograms = await Astro.glob("./*.md");

const anime = allPrograms.filter((prog) => prog.frontmatter.type === "Anime");
const tVShows = allPrograms.filter(
  (prog) => prog.frontmatter.type === "TV Show"
);

const animatedShows = allPrograms.filter(
  (prog) => prog.frontmatter.type === "Cartoon"
);
---

<Layout title="My Favourite Films and TV Shows">
  <div class="container-wide">
    <h1 class="h1">My Favourite Shows</h1>
    <p class="intro-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut id
      aut? Obcaecati amet hic odit sapiente id quia distinctio totam dolores
      voluptate cupiditate ipsa ex minima, enim molestias, perspiciatis qui at?
      Excepturi aut adipisci nam. Suscipit nihil laborum deleniti corporis
      itaque quia omnis iusto voluptates, placeat ratione maiores sint.
    </p>

    <h2 class="h2 text-c">TV Shows</h2>

    <div class="card-container">
      {
        tVShows.map((show) => {
          return (
            <FilmCard
              url={show.url}
              title={show.frontmatter.title}
              art={show.frontmatter.art}
              tags={show.frontmatter.tags}
              imdb={show.frontmatter.imdb}
            />
          );
        })
      }
    </div>

    <h2 class="h2 text-c">Anime</h2>
    <div class="card-container">
      {
        anime.map((show) => {
          return (
            <FilmCard
              url={show.url}
              title={show.frontmatter.title}
              art={show.frontmatter.art}
              tags={show.frontmatter.tags}
              imdb={show.frontmatter.imdb}
            />
          );
        })
      }
    </div>

    <h2 class="h2 text-c">Animated Shows</h2>
    <div class="card-container">
      {
        animatedShows.map((show) => {
          return (
            <FilmCard
              url={show.url}
              title={show.frontmatter.title}
              art={show.frontmatter.art}
              tags={show.frontmatter.tags}
              imdb={show.frontmatter.imdb}
            />
          );
        })
      }
    </div>
  </div>

  <style>
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    .intro-text {
      max-width: 80ch;
    }
  </style>
</Layout>
